@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Readex+Pro:wght@500&display=swap');

* {
    color: white;
    background: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2, h3{
    margin: 0px;
}

.todosJogadores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.jogadores {
    border: 1px solid rgb(99, 99, 99);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    max-width: 300px;
    max-height: 150px;
}

.jogadores h2{
    font-size: 18px;
    margin: 10px;
}

.jogadores h3{
    font-size: 14px;

}