@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Readex+Pro:wght@500&display=swap');

* {
    color: white;
    background: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#detalhesAndStatus {
    display: flex;
    flex-direction: row ;
}

#detalhesPessoais, #statusJogador{
    margin: 0px 12px 0px 12px;
}

#detalhesPessoais {
    border: 1px solid rgb(100, 100, 100);
    padding: 20px;
    width: 300px;
}

#detalhesPessoais h2 {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#detalhesPessoais input {
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
}

#formularioDetalhesPessoais {
    display: flex;
    flex-direction: column;
}

#formularioDetalhesPessoais label {
    margin-bottom: 4px;
    margin-top: 4px;
}

#formularioDetalhesPessoais select {
  padding: 4px;
}

#statusJogador{
    padding: 20px;
}

#statusJogador label, #statusJogador input{
    font-size: 12px;
}

#playerPicAndDice{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#statusJogador h3 {
  margin: 0px;
  margin-bottom: 2px;
  font-size: 16px;
}

#playerSanity{
  padding: 10px;
}

#playerLife{
  padding: 10px;
}

.circle-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px;
    border: 1px solid white;
}

.d20-image {
    width: 50px;
    height: 50px;
}

.d20-image:hover {
  cursor: pointer;
}

.d20-image-status{
  width: 75px;
  height: 75px;
}

.d20-image-status:hover {
  cursor: pointer;
}

.life-progress-bar{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    --progress: 70;
    height: 20px;
    width:300px;
    padding: 2px;
    background-color: rgb(19, 3, 3);
    display: flex;
    border-radius: 2px;
  }
  
  .life-progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    width: calc(var(--progress) * 1%);
    background-color: rgb(172, 9, 9);
  }

  .sanity-progress-bar{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    --progress: 100;
    height: 20px;
    width:300px;
    padding: 2px;
    background-color: rgb(21, 5, 5);
    display: flex;
    border-radius: 2px;
  }
  
  .sanity-progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    width: calc(var(--progress) * 1%);
    background-color: rgb(44, 11, 167);
  }

  #atributosAndEquipamentos {
    display: flex;
    flex-direction: row ;
}

  #atributos, #equipamentosEPertences{
    margin: 8px;
    }

  #atributos{
    border: 1px solid rgb(100, 100, 100);
    padding: 20px;
  }

  #atributos h2{
    margin: 0px;
  }

  #atributos header{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
}

  .atributosRow{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
  }

  .atributo{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  #formsAtributos input {
    margin-top: 3px;
    width:40px;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
  }

  #equipamentosEPertences{
    border: 1px solid rgb(100, 100, 100);
    padding: 20px;
  }

  #equipamentosEPertences header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: none;
      border-bottom: 1px solid rgb(100, 100, 100);
  }

  #equipamentosEPertences h2{
      margin: 0px;
      padding-right: 10px;
      padding-bottom: 10px;
      
  }

  
  #tabelaCombate{
    border: 1px solid rgb(100, 100, 100);
    padding: 20px;
    width: 720px;
  }

  #tabelaCombate header{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: none;
      border-bottom: 1px solid rgb(100, 100, 100);
  }

  #tabelaCombate h2{
      margin: 0px;
      padding-right: 10px;
      padding-bottom: 10px;
      
  }

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
th {
    height: 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

