@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:wght@500&family=Readex+Pro:wght@500&family=Roboto:wght@500&display=swap');

:root {
    --cor-principal: #181818;
    --cor-secundaria: #242424;
    --cor-terciaria: #5865F2;
    --cor-fonte: white;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor-fonte);
    background-image: url("../img/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920 1080px;
    /* background-color: var(--cor-principal); */
}

#headerBoxLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

#headerBoxLogin p {
    color: var(--cor-fonte);
    font-size: 16px;
    margin-top: 12px;
}

section, #buttonDiv, #login, #password {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#login, #password {
    padding: 8px;
}

#login label, #password label {
    color: var(--cor-fonte);
    font-size: 12px;
    margin-bottom: 4px;
}

#login input, #password input {
    width: 240px;
    height: 32px;
    padding-left: 8px;
    background-color: #181818;
    border: 1px solid black;
    border-radius: 4px;
    color: var(--cor-fonte);
}

#buttonForgotPassword {
    border: none;
    color: var(--cor-terciaria);
    background: none;
    font-size: 12px;
    margin-top: 4px;
}

#buttonForgotPassword:hover {
    cursor: pointer;
    text-decoration: underline;
}

#buttonLogin {
    width: 240px;
    height: 32px;
    margin: 8px;
    color: var(--cor-fonte);
    background-color: var(--cor-terciaria);
    border: none;
    border-radius: 4px;
}

#registerButton {
    color: var(--cor-terciaria);
    border: none;
    background: none;
    transition: 0.4s;
}

#registerButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

#registerP {
    font-size: 12px;
    margin-left: 10px;
}

#boxLogin {
    background-color: var(--cor-secundaria);
    padding: 40px;
    border-radius: 8px;
    margin-top: 8vh;
}

#titlePage {
    margin-top: 16vh;
}